{% extends 'base.html' %}
{% block title %}Accounts - Budget Tracker{% endblock %}
{% block content %}
  <h2 class="mt-3">Accounts</h2>
  <div class="mb-3">
    <a href="{{ url_for('add_account') }}" class="btn btn-success">Add New Account</a>
  </div>
  {% if accounts %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
        <tr>
          <th scope="row">{{ account.id }}</th>
          <td>{{ account.name }}</td>
          <td>${{ '%.2f'|format(account.balance) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No accounts have been created yet.</p>
  {% endif %}
{% endblock %}